@page "/"

@using MHMoviesBlazorClient.Components.ImdbMovies

<PageTitle>Movie list</PageTitle>

<br/>
<h1 style="text-align: center">IMDB movies</h1>
<br/>

<ImdbManualPaginatedView></ImdbManualPaginatedView>

