@page "/"

@using MHMoviesBlazorClient.Components.ImdbMovies

<PageTitle>Movie list</PageTitle>

<br/>

<div id="sel-cont">
    <button id="switch-btn" @onclick="SwitchMode">Switch</button>
    <h2>Current mode: @Label()</h2>
</div>

<br/>

@switch(ViewIndex){
    case 0: <ImdbPaginatedView/>;break;
    case 1: <ImdbManualSliceView/>;break;
    case 2: <ImdbAutoSliceView/>;break;
}



