@inherits LayoutComponentBase
@using MHMoviesBlazorClient.Components.Navigation
<div class="page">
    <div id="landing-bar">
        <h1>MH Movie Service</h1>
    </div>
    <NavigationBar/>
    <main>
        <div class="content">
            @Body
        </div>
    </main>
</div>
